<!DOCTYPE html>
<style>
	ul li {
		list-style-type: none;
	}
</style>
<div ng-controller="accountController as vm">
	<section id="accountsList">
		<div class="container">
			<div class="row">
				<h3 class="iptitle">Search All Accounts</h3>
			</div>
			<div class="row">
				<fieldset>

					<form role="form" class="form-horizontal" name="vm.accountForm">
						<div class="form-group">


							<label class="col-md-2" class="control-label" for="searchBy">Search By</label>
							<div class="col-md-3">
								<select id="" ng-model="vm.search.by" class="form-control">
									<option value="" selected hidden >Select..</option>
									<option value="userName">User Name</option>
									<option value="id">Account Id</option>
									<option value="mob">Mobile</option>
									<option value="email">Email Id</option>
									<option value="location">Location</option>
								</select>

							</div>
							<div class="col-md-1">
								<br>
							</div>
							<label class="col-md-2" for="searchText">Search Text</label>
							<div class="col-md-3">
								<input type="text" placeholder="value" class="form-control" id="searchText" ng-model="vm.search.text">
							</div>
							<div class="col-md-1">
								<br>
							</div>
						</div>

						<!--
    <div class="form-group">
    <label class="col-md-2" class="control-label" for="genre">Genre</label>
 <div class="col-md-3">
     <select id="msGenre" multiple="multiple" data-placeholder="Select.." ng-model="vm.genre">
    <option value="Action">Action</option>
    <option value="Adventure">Adventure</option>
    <option value="Comedy">Comedy</option>
    <option value="Crime">Crime</option>
      <option value="Erotica">Erotica</option>
    <option value="Fiction">Fiction</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Historical">Historical</option>
      <option value="Horror">Horror</option>
    <option value="Mystery">Mystery</option>
    <option value="Paranoid">Paranoid</option>
    <option value="Philosophical">Philosophical</option>
      <option value="Political">Political</option>
    <option value="Realistic">Realistic</option>
    <option value="Romance">Romance</option>
    <option value="Saga">Saga</option>
      <option value="Satire">Satire</option>
    <option value="Science fiction">Science fiction</option>
  </select>
</div>
    <div class="col-md-1"><br></div>
 <label class="col-md-2" for="language">Language</label>
      <div class="col-md-3">
<select id="msLang" multiple="multiple" data-placeholder="Select.." ng-model="vm.language">
    <option value="Hindi">Hindi</option>
    <option value="Tamil">Tamil</option>
    <option value="Telugu">Telugu</option>
    <option value="Marathi">Marathi</option>
      <option value="Punjabi">Punjabi</option>
    <option value="Gujarati">Gujarati</option>
    <option value="Bangla">Bangla</option>
    <option value="English">English</option>
      <option value="Bhojpuri">Bhojpuri</option>
    <option value="Malayalam">Malayalam</option>
    <option value="Assamese">Assamese</option>
    <option value="Bihari">Bihari</option>
      <option value="Kannada">Kannada</option>
    <option value="Other">Other</option>
  </select>
     </div>
    <div class="col-md-1"></div>
</div>
-->
						
<!--
						<fieldset>
							<legend>Created on</legend>
							<div class="form-group">
								<label class="col-md-2" class="control-label" for="fromdate">From Date</label>
								<div class="col-md-3">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" id="fromdate" ng-model="vm.fromDate">
									</div>
								</div>
								<div class="col-md-1">
									<br>
								</div>

								<label class="col-md-2" for="todate">To Date</label>
								<div class="col-md-3">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" id="todate" ng-model="vm.toDate">
									</div>
								</div>
							</div>
							<div class="col-md-1"></div>
						</fieldset>
-->
						
						
						<br>
						<div class="form-group text-center">
							<div class="col-md-6"></div>
							<div class="col-md-2">
								<button class="btn btn-primary" type="submit" ng-click="vm.getAccounts()">Search</button>
							</div>
							<div class="col-md-1"></div>
							<div class="col-md-2">
								<button class="btn btn-primary" type="reset" ng-click="vm.reset()">Reset</button>
							</div>
							<div class="col-md-1"></div>
						</div>

					</form>
				</fieldset>
			</div>
			<br>
			<div class="row">
				<fieldset>
					<legend><b>Search Results</b></legend>
					<div class="box box-info">
						<div class="box-body">
							<table class="table table-responsive table-bordered">
								<tbody>
									<tr>
										<td class=""><strong>Name</strong></td>
										<td class=""><strong>Email</strong></td>
										<td class=""><strong>Phone</strong>
										<td class=""><strong>Member Since</strong></td>
										<td class=""><strong>Total Payout</strong></td>
										<td class=""><strong>Amount to be paid</strong></td>

									</tr>
									<tr dir-paginate="account in vm.accounts | orderBy:'-CreatedOn' |filter:vm.contentName|itemsPerPage:20">
										<td><a ng-click="vm.gotoAccountDetail(account.id)" style="cursor:pointer;" ><strong><span style="text-transform:capitalize;">{{account.users[0].userName.toLowerCase()}}</span></strong></a></td>
										<td>
											<span>{{account.users[0].profiles[0].email}}</span>
										</td>

										<td>
											<span>{{account.users[0].profiles[0].mobile}}</span>
										</td>
										
										<td><span>{{account.CreatedOn | date}}</span></td>

										<td class="text-center"><span>{{account.users[0].paymentAmountRemaining}}</span></td>
										
										<td class="text-center"><span><input type="text" ng-model="vm.paymentData[$index].Amount" ng-change="vm.paymentData[$index].AccountId=account.id" ng-model-options="{ updateOn: 'blur' }"></span></td>
<!--
										<td class="text-center"><span class="glyphicon glyphicon-edit icon-edit" ng-click="vm.gotoContentMetadataEdit(c.id);"></span></td>
										<td class="text-center"><span class="glyphicon glyphicon-remove-sign icon-remove" mwl-confirm title="Delete" message="Are you sure you want to delete this Record?" confirm-text="Yes" cancel-text="No" placement="left" on-confirm="vm.gotoContentMetadataDelete(c.id);" on-cancel="cancelClicked = true" confirm-button-type="primary" cancel-button-type="default"></span></td>
-->
										
										
									</tr>
								</tbody>
							</table>
							<input style="margin-right: 20px;" class="btn btn-primary pull-right" type="button" value="Pay Now" ng-click="vm.makePayout()">
						</div>
						<dir-pagination-controls class="text-center center-block" max-size="5" direction-links="true" boundary-links="true">
						</dir-pagination-controls>
					</div>
				</fieldset>
			</div>
		</div>

	</section>
</div>





<!--  <script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>-->
<!-- InputMask -->
<!--<script src="../plugins/input-mask/jquery.inputmask.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.extensions.js"></script>-->

<script>
	$(function () {
		//Initialize Select2 Elements
		$(".select2").select2();

		//Datemask dd/mm/yyyy
		$("#datemask").inputmask("dd/mm/yyyy", {
			"placeholder": "dd/mm/yyyy"
		});
		//Datemask2 mm/dd/yyyy
		$("#datemask2").inputmask("mm/dd/yyyy", {
			"placeholder": "mm/dd/yyyy"
		});
		//Money Euro
		$("[data-mask]").inputmask();

		//Date range picker
		$('#reservation').daterangepicker();
		//Date range picker with time picker
		$('#reservationtime').daterangepicker({
			timePicker: true,
			timePickerIncrement: 30,
			format: 'MM/DD/YYYY h:mm A'
		});
		//Date range as a button
		$('#daterange-btn').daterangepicker({
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'This Month': [moment().startOf('month'), moment().endOf('month')],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				},
				startDate: moment().subtract(29, 'days'),
				endDate: moment()
			},
			function (start, end) {
				$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			}
		);

		//iCheck for checkbox and radio inputs
		$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass: 'iradio_minimal-blue'
		});
		//Red color scheme for iCheck
		$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
			checkboxClass: 'icheckbox_minimal-red',
			radioClass: 'iradio_minimal-red'
		});
		//Flat red color scheme for iCheck
		$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
			checkboxClass: 'icheckbox_flat-green',
			radioClass: 'iradio_flat-green'
		});

		//Colorpicker
		$(".my-colorpicker1").colorpicker();
		//color picker with addon
		$(".my-colorpicker2").colorpicker();

		//Timepicker
		$(".timepicker").timepicker({
			showInputs: false
		});

	});
</script>

<script>
	//genre multiselect list
	$(function () {
		$('#msGenre').change(function () {
			console.log($(this).val());
		}).multipleSelect({
			width: '100%'
		});
	});
	//language multiselect list
	$(function () {
		$('#msLang').change(function () {
			console.log($(this).val());
		}).multipleSelect({
			width: '100%'
		});
	});
</script>