<div ng-controller="contentMetadataController as vm">
<section id="contentMetadataView">
<div class="container">
    <form role="form" class="form-horizontal">
     <!--<div class="row">
         <h3 class="iptitle">
            Content Metadata View
          </h3>
     </div>-->
    <div class="row">
    <div class="col-md-8">
         <!--<h3 class="iptitle">
             Content Metadata View
          </h3>-->
        </div>
    <div class="col-md-1">
        <button class="btn btn-primary" ng-click="vm.gotoContentMetadataEdit(vm.content.id);">Edit</button>
    </div>
        <div class="col-md-1"></div>
    <div class="col-md-1">
        <button class="btn btn-primary" ng-click="vm.gotoContentMetadataList();">Back</button>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>


<div class="row">
   <fieldset>
       <!-------------Content Details------------>
       <legend><b>Content Details</b></legend>
       <div class="row">
           <div class="col-md-11 text-right">
                <input type="checkbox" value="true" id="exclusive" ng-model="vm.content.exclusive" disabled>
                <label class="control-label" for="exclusive">Is Exclusive</label>
           </div>
           <div class="col-md-1"></div>
       </div>
       
         <div class="form-group">
               <div class="col-md-5">
                   <img src = 'http://omgimages.blob.core.windows.net/contentimages/{{vm.content.id}}_thumb_256.jpg' alt="Thumbnail Image" width="295px" height="197px" style="border:1px solid #ddd;">
               </div>
             <div class="col-md-1"></div>
               <div class="col-md-5">
               <label  class="control-label" for="contentname">Content Name:</label>
                 <label class="lblLeftPadding" >{{vm.content.name}}</label>
                 <br>
                <label  class="control-label" for="contentalias">Content Alias:</label>
                 <label class="lblLeftPadding" >{{vm.content.aka}}</label>
                 <br>
                <label  class="control-label" for="contenttype">Content Type:</label>
                 <label class="lblLeftPadding" >{{vm.content.contentType}}</label>
                 <br>
                <label  class="control-label" for="genre">Genre:</label><!--multiple value-->
                 <label class="lblLeftPadding" ng-repeat="g in vm.content.genre">{{g}}</label>
                 <br>
                   <label  class="control-label" for="uploadedon">Uploaded On:</label>
                 <label class="lblLeftPadding" >{{vm.content.CreatedOn|date}}</label>
                 <br>
                   <label  class="control-label" for="launchdate">Launch Date:</label>
                 <label class="lblLeftPadding" >{{vm.content.launchMonthYear|date}}</label>
                   <br>
                   <label class="control-label">Trailer Available:</label>
             <!--  <label class="lblLeftPadding">{{vm.content.trailerAvailable}}</label> -->
				   <label class="lblLeftPadding" ng-show="vm.content.trailerAvailable == true">Yes</label>
			   <label class="lblLeftPadding" ng-show="vm.content.trailerAvailable == false">No</label>
               </div>
             
               <div class="col-md-1"></div>
         </div> 
      
       <div class="form-group">
           <div class="col-md-5">
               <label class="control-label" for="storyline">Story Line:</label><br>
               <textarea class="form-control" id="storyline" rows="13" readonly>{{vm.content.story}}
               </textarea>
           </div>
           <div class="col-md-1"></div>
           <div class="col-md-5">
               <div class="row">
               <div class="col-md-3"><label>Trailer:</label></div>
               <div class="col-md-9">
                   <iframe src="" height="140" width="290" style="border:1px solid grey;">
                    </iframe>
                   </div>
               </div><br>
               <div class="row">
               <div class="col-md-3"><label>Publicity Media:</label></div>
               <div class="col-md-9">
                   <iframe src="" height="140" width="290" style="border:1px solid grey;">
                    </iframe>
                   </div>
               </div>
           </div>
           <div class="col-md-1"></div>
       </div> 
       
       <div class="form-group">
           <div class="col-md-5">
               <label class="control-label">Storyline Keyword:</label>
               <label class="lblLeftPadding">{{vm.content.keywords}}</label>
               <br>
			    <label class="control-label">Tags:</label>
           <span ng-repeat="tag in vm.content.Tags">
					 <label class="lblLeftPadding" >{{tag.Text+",&nbsp;&nbsp;"}}</label>
			   </span>
               <br>
               <label  class="control-label" for="cproducer">Content Producer:</label>
                 <span ng-repeat="d in vm.content.producer">
					 <label class="lblLeftPadding" >{{d.ActorName+",&nbsp;&nbsp;"}}</label>
			   </span>
               <br>
               <label  class="control-label" for="cdistributor">Content Distributor:</label>
                 <label class="lblLeftPadding" >{{vm.content.distributor}}</label>
               <br>
               <label  class="control-label" for="director">Director:</label>
                 <span ng-repeat="d in vm.content.director">
					 <label class="lblLeftPadding" >{{d.ActorName+",&nbsp;&nbsp;"}}</label>
			   </span>
               <br>
               <label  class="control-label" for="writer">Writer:</label>
			   <span ng-repeat="d in vm.content.writer">
                 <label class="lblLeftPadding " >{{d.ActorName+",&nbsp;&nbsp;"}}</label>
				</span>
               <br>
               <label  class="control-label" for="musicdirector">Music Director:</label>
			   <span ng-repeat="d in vm.content.music">
                 <label class="lblLeftPadding " >{{d.ActorName+",&nbsp;&nbsp;"}}</label>
				   </span>
               <br>
               <label  class="control-label" for="lyricsby">Lyrics By:</label>
			   <span ng-repeat="d in vm.content.lyrics">
                 <label class="lblLeftPadding " >{{d.ActorName+",&nbsp;&nbsp;"}}</label>
				</span>
               <br>
               <label  class="control-label" for="offisite">Official Site:</label>
                 <label class="lblLeftPadding " >{{vm.content.site}}</label>
               <br>
               <label  class="control-label" for="filmlocation">Filming Location:</label>
                 <label class="lblLeftPadding " >{{vm.content.filmingLocation}}</label>
           </div>
           
           <div class="col-md-1"></div>
           
           <div class="col-md-5">
               <div class="row">
                <div class="col-md-3"><label for="starcast">Star Cast:</label></div>
                <div class="col-md-9">
                   <div class="form-control" id="starcast" rows="4" readonly >
					<span ng-repeat="d in vm.content.cast">{{d.ActorName +",&nbsp;&nbsp;"}}</span>
					</div>
                </div>
               </div><br>
               <div class="row">
                <div class="col-md-3"><label class="control-label" for="trivia">Trivia:</label></div>
                <div class="col-md-9">
                   <textarea class="form-control" id="trivia" rows="3" readonly>{{vm.content.trivia}}</textarea>
                </div>
               </div><br>
               <div class="row">
                <div class="col-md-3"><label class="control-label" for="quotes">Quotes:</label></div>
                <div class="col-md-9">
                  <textarea class="form-control" id="quotes" rows="2" readonly>{{vm.content.quotes}}</textarea>
                </div>
               </div>
           </div>
            <div class="col-md-1"></div>
       </div>
       <div class="form-group">
           <div class="col-md-5">
               <label>Poster Image</label>
               <img src = 'http://omgimages.blob.core.windows.net/contentimages/{{vm.content.id}}_poster_640.jpg' alt="Poster Image" width="400px" height="150" style="border:1px solid grey;">
           </div>
           <div class="col-md-1"></div>
           <div class="col-md-5">
               <label  class="control-label" for="targetregion">Target Region:</label><!--multiple value-->
                 <label class="lblLeftPadding " ng-repeat="tregion in vm.content.targetRegion">{{tregion}}</label>
               <br>
               <label  class="control-label" for="targetaudi">Target Audience:</label><!--multiple value-->
                 <label class="lblLeftPadding " ng-repeat="taudience in vm.content.targetAudience">{{taudience}}</label>
               <br>
               <label  class="control-label" for="language">Language:</label><!--multiple value-->
                 <label class="lblLeftPadding " ng-repeat="lang in vm.content.languages">{{lang}}</label>
               <br>
               <label  class="control-label" for="regionallang">Regional Language:</label><!--multiple value-->
                 <label class="lblLeftPadding " ng-repeat="rlang in vm.content.regionallang">{{rlang}}</label>
               <br>
               <label class="control-label">Mainstream or Regional: </label>
             <!--  <label class="lblLeftPadding">{{vm.content.mainstream}}</label> -->
			   <label class="lblLeftPadding" ng-show="vm.content.mainstream == true">MainStream</label>
			   <label class="lblLeftPadding" ng-show="vm.content.mainstream == false">Regional</label>
               <br>
               <label class="control-label">Subtitles Available:</label>
              <!-- <label class="lblLeftPadding">{{vm.content.subTitlesAvailable}}</label> -->
			   <label class="lblLeftPadding" ng-show="vm.content.subTitlesAvailable == true">Yes</label>
			   <label class="lblLeftPadding" ng-show="vm.content.subTitlesAvailable == false">No</label>
           </div>
           <div class="col-md-1"></div>
       </div>
      
 <!------------------Rating Performance--------------------->
            
       <legend><b>Rating / Performance</b></legend>
        <div class="form-group">  
            <div class="col-md-5">
                <label class="control-label" for="boxOperf">Box Office Performance:</label>
                <label class="lblLeftPadding">{{vm.content.boxOffice}}</label>
                <br>
                <label class="control-label" for="indusrating">Industry Rating:</label>
                <label class="lblLeftPadding">{{vm.content.rating}}</label>
                <br>
                <label class="control-label" for="custrating">Customer Rating:</label>
                <label class="lblLeftPadding">{{vm.content.customerRating}}</label>
                <br>
                <label class="control-label" for="feaindicator">Featured Indicator:</label>
            <!--    <label class="lblLeftPadding">{{vm.content.feaindicator}}</label> -->
				<label class="lblLeftPadding" ng-show="vm.content.feaindicator == true">Yes</label>
				<label class="lblLeftPadding" ng-show="vm.content.feaindicator == false">No</label>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-md-5">
                <label class="control-label" for="topgrosser">Top Grosser:</label>
              <!--  <label class="lblLeftPadding " >{{vm.content.topGrosser}}</label> -->
				<label class="lblLeftPadding" ng-show="vm.content.topGrosser == true">Yes</label>
				<label class="lblLeftPadding" ng-show="vm.content.topGrosser == false">No</label>
                <br>
                <label class="control-label" for="omgrating">OMG Rating:</label>
                <label class="lblLeftPadding " >{{vm.content.omgRating}}</label>
                <br>
                <label class="control-label" for="awards">Awards:</label>
                <label class="lblLeftPadding " >{{vm.content.awards}}</label>
            </div>
            <div class="col-sm-1"></div>  
        </div>
       <br>
<!------------------Content Format Details--------------------->
        <legend><b>Content Format Details</b></legend>
       <div class="form-group">  
            <div class="col-md-5">
                <label class="control-label" for="cformat">Content Format:</label>
                <label class="lblLeftPadding">{{vm.content.formt}}</label>
                <br>
                <label class="control-label" for="contentduration">Content Duration(in minutes):</label>
                <label class="lblLeftPadding">{{vm.content.duration}}</label>
                <br>
                <label class="control-label" for="contentquality">Content Quality:</label>
                <label class="lblLeftPadding">{{vm.content.quality}}</label>
                <br>
                <label class="control-label" for="videobitrate">Video Bit Rate:</label>
                <label class="lblLeftPadding">{{vm.content.vBitRate}}</label>
                <br>
                <label class="control-label" for="aspectratio">Aspect Ratio:</label>
                <label class="lblLeftPadding">{{vm.content.aspectRatio}}</label>
                <br>
                <label class="control-label" for="codecformat">Codec Format:</label>
                <label class="lblLeftPadding">{{vm.content.codec}}</label>
                <br>
                <label class="control-label" for="prifilmformat">Printed Film Format:</label>
                <label class="lblLeftPadding">{{vm.content.printedFilmFormat}}</label>
                <br>
                <label class="control-label" for="cinegraphicprocess">Cinematographic Process:</label>
                <label class="lblLeftPadding">{{vm.content.cinematographicProcess}}</label>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-md-5">
                <label class="control-label" for="cresolution">Content Resolution:</label>
                <label class="lblLeftPadding " >{{vm.content.resolution}}</label>
                <br>
                <label class="control-label" for="color">Color:</label>
                <label class="lblLeftPadding " >{{vm.content.color}}</label>
                <br>
                <label class="control-label" for="soundquality">Sound Quality:</label>
                <label class="lblLeftPadding " >{{vm.content.soundQuality}}</label>
                <br>
                <label class="control-label" for="audiobitrate">Audio Bit Rate:</label>
                <label class="lblLeftPadding " >{{vm.content.aBitRate}}</label>
                <br>
                <label class="control-label" for="cbandwidth">Content Bit Rate/Bandwidth:</label>
                <label class="lblLeftPadding " >{{vm.content.cbandwidth}}</label>
                <br>
                <label class="control-label" for="camera">Camera:</label>
                <label class="lblLeftPadding " >{{vm.content.camera}}</label>
                <br>
                <label class="control-label" for="negformat">Negative Format:</label>
                <label class="lblLeftPadding " >{{vm.content.negativeFormat}}</label>
            </div>
            <div class="col-sm-1"></div>  
        </div>
       <br>
 
     <!------------------Other Details--------------------->
       <legend><b>Other Details</b></legend>
       <div class="form-group">  
            <div class="col-md-5">
                <label class="control-label" for="certindia">Certificate India:</label>
                <label class="lblLeftPadding">{{vm.content.CertIN}}</label>
                <br>
                <label class="control-label" for="countoforigin">Country of Origin:</label>
                <label class="lblLeftPadding">{{vm.content.countryOfOrigin}}</label>
                <br>
                <label class="control-label" for="distrightsacq">Distribution Rights Acquired:</label>
              <!--  <label class="lblLeftPadding">{{vm.content.distRightsAcq}}</label> -->
				<label class="lblLeftPadding" ng-show="vm.content.distRightsAcq == true">Yes</label>
				<label class="lblLeftPadding" ng-show="vm.content.distRightsAcq == false">No</label>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-md-5">
                <label class="control-label" for="classifiuk">Classification UK:</label>
                <label class="lblLeftPadding " >{{vm.content.ClassificationUK}}</label>
                <br>
                <label class="control-label" for="copyrightpro">Copyright protected:</label>
               <!-- <label class="lblLeftPadding " >{{vm.content.copyright}}</label> -->
				<label class="lblLeftPadding" ng-show="vm.content.copyright == true">Yes</label>
				<label class="lblLeftPadding" ng-show="vm.content.copyright == false">No</label>
                <br>
                <label class="control-label" for="distrightsowner">Distribution Rights Owner:</label><!--multiple value-->
                <label class="lblLeftPadding " ng-repeat="d in vm.content.distRightsOwner">{{d}}</label>
            </div>
            <div class="col-sm-1"></div>  
        </div>
       <br>
 
     <!------------------Product Details---------------------> 
       <legend><b>Product Details</b></legend>
       <div class="form-group">  
            <div class="col-md-5">
                <label class="control-label" for="product">Selected Product:</label>
                <label class="lblLeftPadding" ng-repeat="p in vm.content.omgProductList">{{p.name+",&nbsp;&nbsp;"}}</label>
                <br>
                <label class="control-label" for="proddate">Publication Date:</label>
                <label class="lblLeftPadding">{{vm.content.pubFrom | date:'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-md-5">
                <br>
                <label class="control-label" for="expdate">Expiration Date:</label>
                <label class="lblLeftPadding " >{{vm.content.pubTill | date:'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-sm-1"></div>  
        </div>
       
       <div class="form-group">
        <div class="col-md-12">
                <label class="control-label">Publish Url:</label>
                <label class="lblLeftPadding">{{vm.content.pubUrl}}</label>
        </div>
       </div> 
       
         <div class="form-group">
             <div class="col-md-12">
            <h4>Content Amount Details</h4>
                 <div class="box box-info">
                           <div class="box-body">
                              <table class="table table-responsive table-bordered">
                              <tbody>
                              <tr>
                              <td class="col-md-3">Purchase Type</td>
                              <td class="col-md-3">Amount</td>
                              <td class="col-md-3">From Date</td>
                              <td class="col-md-3">Till Date</td> 
                              </tr>
                              
                               <tr ng-repeat="d in vm.content.cost">
                              <td >
                                  {{d.type}}
                              </td>
                              <td >
                                  {{d.amount}}
                              </td>
                              <td >
                                  {{d.from | date:'dd/MM/yyyy'}}
                              </td>
                              <td >
                                  {{d.till | date:'dd/MM/yyyy'}}   
                              </td> 
                              </tr>
                              </tbody>
                              </table>
                           </div>
                </div>
                 </div>
            </div> 
  
   
   </fieldset> 
</div>
</form>
        
</div>
</section>    
</div>














