<div ng-controller="accountController as vm">
	<section id="accountDetails">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3 class="iptitle">
            User Details View
          </h3>
				</div>
				<div class="col-md-6"></div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" ng-click="vm.gotoAccountsList()"><span>Back To List</span></button>
				</div>
			</div>
			<div class="row">
				<div class="panel-group" id="CMaccordion1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="" data-toggle="collapse" data-parent="#CMaccordion1" data-target="#collapse1">
								<h4 class="panel-title">User Details</h4>
							</a>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<form role="form" class="form-horizontal">

									<div class="col-sm-3 account-image pull-left" style="padding-left:15px;padding-bottom:10px;">

										<img alt="" ng-src={{vm.account.users[0].profiles[0].profilePhoto.path}} style="width:140px;height:150px;border:1px solid #d8d8d8;-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);">
									</div>

									<br>
									<div class="row col-sm-9 pull left">

										<label class="col-sm-2" class="control-label" for="username">Name :</label>
										<div class="col-sm-2">
											<span>{{vm.account.users[0].userName}}</span>
										</div>
										<div class="col-sm-1"> </div>
										<label class="col-sm-3" for="email">Email :</label>
										<div class="col-sm-3">
											<span>{{vm.account.users[0].profiles[0].email}}</span>
										</div>
									</div>
									<br>
									<br>
									<div class="row col-sm-9 pull-left">
										<label class="col-sm-2" class="control-label" for="phoneNo">Phone No :</label>
										<div class="col-sm-2">
											<span>{{vm.account.users[0].profiles[0].mobile}}</span>
											<!--    <input type="text" class="form-control" id="phoneNo" readonly ng-model="vm.account.users[0].profiles[0].mobile">-->
										</div>
										<div class="col-sm-1"></div>
										<label class="col-sm-3" for="regNo">Member Since :</label>
										<div class="col-sm-3">
											<span>{{vm.account.CreatedOn|date}}</span>
											<!--   <input type="text" class="form-control" id="regNo" readonly ng-model="vm.account.CreatedOn">-->
										</div>



									</div>


								</form>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="collapsed" data-toggle="collapse" data-parent="#CMaccordion1" data-target="#collapse2">
								<h4 class="panel-title">Profile Information</h4>
							</a>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="box box-info">
									<div class="box-body">
										<label class="col-sm-2" class="control-label" for="selproduct">Selected Product</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="selproduct" readonly>
										</div>
										<label class="col-sm-2" class="control-label" for="prodamt">Product Amount</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="prodamt" readonly>
										</div>
										<label class="col-sm-2" class="control-label" for="subduedate">Subscription Due Date</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="subduedate" readonly>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
<div class="panel panel-default">
						<div class="panel-heading">
							<a class="collapsed" data-toggle="collapse" data-parent="#CMaccordion1" data-target="#collapse4">
								<h4 class="panel-title">Trips</h4>
							</a>
						</div>
						<div id="collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="box box-info">
									<div class="box-body">
										<table class="table table-responsive table-bordered">
											<tbody>
												<tr>
													<td><strong>Trip To</strong></td>
													<td><strong>Booked On</strong></td>
													<td><strong>Check In</strong></td>
													<td><strong>Check Out</strong></td>
													<td><strong>Price Details</strong></td>
												</tr>

												<tr ng-repeat="trip in vm.account.trips">
													<!-- ng-repeat -->

	<td><strong><span ng-click="" style="cursor:pointer;text-transform:capitalize;">Property Name</span></strong></td>
													
													<td>
														{{ trip.bookedOn|date}}
													</td>

													<td>
														{{trip.checkin|date}}
													</td>

													<td>
														{{trip.checkout|date}}
													</td>
													<td>
														{{trip.price}}
													</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="panel panel-default" ng-hide="vm.account.propertyId===null||vm.account.propertyId.length==0">
						<div class="panel-heading">
							<a class="collapsed" data-toggle="collapse" data-parent="#CMaccordion1" data-target="#collapse3">
								<h4 class="panel-title">Properties</h4>
							</a>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="box box-info">
									<div class="box-body">
										<table class="table table-responsive table-bordered">
											<tbody>
												<tr>
													<td><strong>Property Name</strong></td>
													<td><strong>Added On</strong></td>
													<td><strong>Home Type</strong></td>
													<td><strong>Room Type</strong></td>
													<td><strong>Accomodates</strong> </td>

												</tr>

												<tr ng-repeat="property in vm.accountProperties">
													<!-- ng-repeat -->

	<td><strong><span ng-click="vm.gotoPropertyDetail(property.id)" style="cursor:pointer;text-transform:capitalize;" class="myLink">{{property.description===null||property.description.listingName===null||property.description.listingName==="" ? "No Name" : property.description.listingName.toLowerCase()}}</span></strong></td>
													
													<td>
														{{ property.CreatedOn|date}}
													</td>

													<td>
														{{property.homeType}}
													</td>

													<td>
														{{property.roomType}}
													</td>
													<td>
														{{property.accomodates}}
													</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					
					<div class="panel panel-default" ng-hide="vm.account.propertyId===null||vm.account.propertyId.length==0">
						<div class="panel-heading">
							<a class="collapsed" data-toggle="collapse" data-parent="#CMaccordion1" data-target="#collapse5">
								<h4 class="panel-title">Payouts</h4>
							</a>
						</div>
						<div id="collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="box box-info">
									<div class="box-body">
										<table class="table table-responsive table-bordered">
											
												<thead>
													<th>Date</th>
													<th>Amount</th>
													<th>Email</th>
													<th>Note</th>
												</thead>
											<tbody>
												<tr  ng-repeat="payout in vm.account.users[0].payouts">
													<!--ng-repeat=""-->
													<td><span>{{payout.date|date}}</span></td>
													<td>{{payout.amount}}</td>
													<td>{{payout.email}}</td>
													<td>{{payout.note}}</td>
													</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- InputMask -->
<script src="../plugins/input-mask/jquery.inputmask.js"></script>
<script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script>
	$(function () {
		//Initialize Select2 Elements
		$(".select2").select2();

		//Datemask dd/mm/yyyy
		$("#datemask").inputmask("dd/mm/yyyy", {
			"placeholder": "dd/mm/yyyy"
		});
		//Datemask2 mm/dd/yyyy
		$("#datemask2").inputmask("mm/dd/yyyy", {
			"placeholder": "mm/dd/yyyy"
		});
		//Money Euro
		$("[data-mask]").inputmask();

		//Date range picker
		$('#reservation').daterangepicker();
		//Date range picker with time picker
		$('#reservationtime').daterangepicker({
			timePicker: true,
			timePickerIncrement: 30,
			format: 'MM/DD/YYYY h:mm A'
		});
		//Date range as a button
		$('#daterange-btn').daterangepicker({
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'This Month': [moment().startOf('month'), moment().endOf('month')],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				},
				startDate: moment().subtract(29, 'days'),
				endDate: moment()
			},
			function (start, end) {
				$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			}
		);

		//iCheck for checkbox and radio inputs
		$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass: 'iradio_minimal-blue'
		});
		//Red color scheme for iCheck
		$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
			checkboxClass: 'icheckbox_minimal-red',
			radioClass: 'iradio_minimal-red'
		});
		//Flat red color scheme for iCheck
		$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
			checkboxClass: 'icheckbox_flat-green',
			radioClass: 'iradio_flat-green'
		});

		//Colorpicker
		$(".my-colorpicker1").colorpicker();
		//color picker with addon
		$(".my-colorpicker2").colorpicker();

		//Timepicker
		$(".timepicker").timepicker({
			showInputs: false
		});
	});
</script>